/* Header Elements: ************************************* */

/* Header Image: */
.page-header-image-container {
 width: 70%;
}

/* Embeds: ************************************* */

/* iframes: */
iframe {
 height: auto;
}

/* PDF Viewer: */

.internal {
 width: 70%;
 height: 75vh;
}

/* YouTube Video Embed Styling: */

.yt-small {
aspect-ratio: 16 / 9 !important;
 width: 70%;"
 }
iframe {
 height: auto;
}

/* /FolderStructure DIRECTORY STYLING **************************** */

/* If the head contains a link pointing to the FolderStructure directory... */
/* ...then change the title color */
html:has(link[href*="FolderStructure"]) .page-header-title {
    color: #f1c40f !important;
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
